In [5]:
import pandas as pd

data = pd.read_csv('./Data/db.csv')
data

,OBJECT_NAME,OBJECT_ID,EPOCH,MEAN_MOTION,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,EPHEMERIS_TYPE,CLASSIFICATION_TYPE,NORAD_CAT_ID,ELEMENT_SET_NO,REV_AT_EPOCH,BSTAR,MEAN_MOTION_DOT,MEAN_MOTION_DDOT
0,PSYCHE,2023-157A,2023-10-13T14:28:09.729696,15.296585,0.046720,30.0000,47.5426,123.5100,359.9800,0,U,58049,999,0,0.000000,1.209000e-05,-0.000004
1,FALCON HEAVY R/B,2023-157B,2023-10-13T14:28:09.729696,15.296585,0.046720,30.0000,47.5426,123.5100,359.9800,0,U,58050,999,0,0.000000,1.209000e-05,-0.000004
2,STARLINK-30568,2023-158A,2023-11-09T14:00:01.000224,15.544348,0.000181,42.9995,341.6491,284.4474,116.8989,0,U,58051,999,530,-0.026539,-1.610816e-02,0.000000
3,STARLINK-30575,2023-158B,2023-11-06T10:30:39.041568,15.682098,0.001143,42.9989,0.2935,303.7135,56.2642,0,U,58052,999,493,-0.003596,-3.968210e-03,0.000000
4,STARLINK-30577,2023-158C,2023-11-09T14:00:01.000224,15.544255,0.000167,42.9994,341.6431,283.7861,120.4831,0,U,58053,999,546,-0.026579,-1.612437e-02,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,CZ-6A DEB,2023-168D,2023-11-09T13:04:30.875520,14.868117,0.000305,97.8265,318.5640,152.5389,207.5988,0,U,58202,999,127,0.001303,1.157900e-04,0.000000
152,TJS-10,2023-169A,2023-11-09T16:41:19.370976,1.004371,0.004114,0.0978,75.4086,42.2493,353.8281,0,U,58204,999,14,0.000000,4.500000e-07,0.000000
153,CZ-7A R/B,2023-169B,2023-11-09T05:13:10.149312,2.434218,0.721882,16.9337,284.8153,182.6936,168.5799,0,U,58205,999,13,0.000308,3.047990e-03,-0.000011
154,2023-172A,2023-172A,2023-11-09T16:38:43.285920,2.282938,0.729371,28.3977,216.2785,179.4324,167.1655,0,U,58253,999,1,0.000000,-5.070000e-06,0.000000
155,2023-172B,2023-172B,2023-11-09T16:57:09.366624,2.382214,0.723112,28.3963,216.2181,178.7397,185.5310,0,U,58254,999,0,0.000000,-1.616000e-05,0.000002

In [3]:
from sgp4.api import accelerated

print(accelerated)

True

In [2]:
from sgp4.api import Satrec
import pandas as pd
s = '1 25544U 98067A   19343.69339541  .00001764  00000-0  38792-4 0  9991'
t = '2 25544  51.6439 211.2001 0007417  17.6667  85.6398 15.50103472202482'
satellite = Satrec.twoline2rv(s, t)

jd, fr = 2458826.5, 0.8625
e, r, v = satellite.sgp4(jd, fr)
e
0
print(r)  # Справжнє положення екватора Середнє рівнодення (км)

print(v)  # Справжня швидкість на екваторі Середня швидкість рівнодення (км/с)


data = pd.read_csv('Data/2LE.csv')
data

(-6088.922358183078, -936.1367482888302, -2866.4408776941464)
(-1.5255342771668234, -5.5384966257541395, 5.068164791538606)

    1 58230U 23171A   23341.58335648 -.00060329  00000+0 -30994-2 0  9995
0    2 58230  42.9999  86.1378 0001189 278.5878 284...
1    1 58231U 23171B   23341.58335648 -.00054288  0...
2    2 58231  42.9999  86.1073 0001267 268.8182 307...
3    1 58232U 23171C   23341.25002315  .00030574  0...
4    2 58232  43.0000  87.9238 0001826 239.9387 327...
..                                                 ...
472  2 58505  86.4992 297.6629 0008809 285.4335 267...
473  1 58506U 23190B   23341.15949090  .00000056  0...
474  2 58506  86.5828 297.6577 0400616  10.1880 104...
475  1 58507U 23190C   23341.15524929  .00000056  0...
476  2 58507  86.5849 297.6588 0400467  10.3063  81...

[477 rows x 1 columns]