In [3]:
from sgp4.api import accelerated

print(accelerated)

True

In [12]:
from sgp4.api import Satrec
import pandas as pd


# from sgp4.api import Satrec
# import pandas as pd
# s = '1 58230U 23171A   23341.58335648 -.00060329  00000+0 -30994-2 0  9995'
# t = '2 58230  42.9999  86.1378 0001189 278.5878 284.7735 15.15988077  5832'
# satellite = Satrec.twoline2rv(s, t)

# jd, fr = 2458826.5
# e, r, v = satellite.sgp4(jd)
# e

# print(r)  # Справжнє положення екватора Середнє рівнодення (км)

# print(v)  # Справжня швидкість на екваторі Середня швидкість рівнодення (км/с)

data = pd.read_csv('Data/2LE.csv')
# data

df = pd.DataFrame(data)
df

one = df.loc[[0]]
two = df.loc[[1]]

s = '1 58230U 23171A   23341.58335648 -.00060329 00000+0 -30994-2 0  9995'
t = '2 58230  42.9999  86.1378 0001189 278.5878 284.7735 15.15988077  5832'

satellite = Satrec.twoline2rv(s, t)
jd, fr = 2460227, 0.8473379629629629
e, r, v = satellite.sgp4(jd, fr)
e

print(r)  # True Equator Mean Equinox position (km)

print(v)  # True Equator Mean Equinox velocity (km/s)

(5534.087156846886, 3747.7147554918547, 250.31885390632266)
(-3.3333092388979164, 4.569933060489518, 5.263689675953919)

In [18]:
df.loc[[0]]
df

,one,two,three,four,five,six,seven,eight
0,1,58230U,23171A,23341.58335648,-6.032900e-04,00000+0,-30994-2 0,9995.0
1,2,58230,42.9999,86.1378 0001189,2.785878e+02,284.7735,15.15988077,5832.0
2,1,58231U,23171B,23341.58335648,-5.428800e-04,00000+0,-27863-2 0,9994.0
3,2,58231,42.9999,86.1073 0001267,2.688182e+02,307.0120,15.15978236,5835.0
4,1,58232U,23171C,23341.25002315,3.057400e-04,00000+0,15716-2 0,9995.0
...,...,...,...,...,...,...,...,...
473,2,58505,86.4992,297.6629 0008809,2.854335e+02,267.8187,13.94553235,187.0
474,1,58506U,23190B,23341.15949090,5.600000e-07,00000+0,00000+0 0,9998.0
475,2,58506,86.5828,297.6577 0400616,1.018800e+01,104.4780,14.76421635,194.0
476,1,58507U,23190C,23341.15524929,5.600000e-07,00000+0,00000+0 0,9999.0
477,2,58507,86.5849,297.6588 0400467,1.030630e+01,81.8781,14.76458328,153.0

In [11]:
from sgp4.api import jday

jd, fr = jday(2023, 10, 10, 20,20,10)
print(jd)

print(fr)

2460227.5
0.8473379629629629