In [3]:
from sgp4.api import accelerated

print(accelerated)

True

In [15]:
from sgp4.api import Satrec
import pandas as pd


# from sgp4.api import Satrec
# import pandas as pd
# s = '1 58230U 23171A   23341.58335648 -.00060329  00000+0 -30994-2 0  9995'
# t = '2 58230  42.9999  86.1378 0001189 278.5878 284.7735 15.15988077  5832'
# satellite = Satrec.twoline2rv(s, t)

# jd, fr = 2458826.5
# e, r, v = satellite.sgp4(jd)
# e

# print(r)  # Справжнє положення екватора Середнє рівнодення (км)

# print(v)  # Справжня швидкість на екваторі Середня швидкість рівнодення (км/с)




with open('Data/2LE.txt', 'r') as file:
    s = file.readline()
    t = file.readline()
    print(s)
    print(t)


satellite = Satrec.twoline2rv(s,t)
jd, fr = 2460228, 0.8473379629629629
e, r, v = satellite.sgp4(jd, fr)
e

print(r)  # True Equator Mean Equinox position (km)

print(v)  # True Equator Mean Equinox velocity (km/s)
# Автоматизувати

1 58230U 23171A   23341.58335648 -.00060329  00000+0 -30994-2 0  9995

2 58230  42.9999  86.1378 0001189 278.5878 284.7735 15.15988077  5832

(2887.35097510969, -4169.9687988240985, -4642.384121314597)
(5.83116459671605, 4.837856156373658, -0.7192684072249157)

In [14]:
df = df.iloc[0,:]
df

one                             1
two                        58230U
   three                  23171A
       four        23341.58335648
         five           -0.000603
        six               00000+0
    seven              -30994-2 0
      eight                9995.0
Name: 0, dtype: object

In [75]:
from sgp4.api import jday

jd, fr = jday(2024, 1, 15, 20,20,10)
print(jd)

print(fr)

2460324.5
0.8473379629629629

In [22]:
" ".join([str(i) for i in one.tolist()])
" ".join([str(i) for i in two.tolist()])

'2  58230   42.9999   86.1378 0001189 278.5878 284.7735  15.15988077  5832.0'

In [2]:
with open('Data/2LE.txt', 'r') as file:
    s = file.readline()
    t = file.readline()
    print(s)
    print(t)

1 58230U 23171A   23341.58335648 -.00060329  00000+0 -30994-2 0  9995

2 58230  42.9999  86.1378 0001189 278.5878 284.7735 15.15988077  5832

In [77]:
#main code
from sgp4 import omm

data = pd.read_csv('Data/db.csv')
data



with open('Data/db.csv') as f:
        lines = omm.parse_csv(f)
        fields = [field for field in lines]


field = fields[30]

sat = Satrec("2023-187B")
satellite = omm.initialize(sat, field)

jd, fr = 2460324.5, 0.8473379629629629
e, r, v = sat.sgp4(jd, fr)

e,r,v

(0,
 (-40092.049130868, 648929.265822713, 230782.17850577665),
 (-0.5792185825745424, -0.19329335631680428, 0.4529821690631753))

In [18]:
from sgp4 import omm

data = pd.read_csv('Data/db.csv')
data

,OBJECT_NAME,OBJECT_ID,EPOCH,MEAN_MOTION,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,EPHEMERIS_TYPE,CLASSIFICATION_TYPE,NORAD_CAT_ID,ELEMENT_SET_NO,REV_AT_EPOCH,BSTAR,MEAN_MOTION_DOT,MEAN_MOTION_DDOT
0,PSYCHE,2023-157A,2023-10-13T14:28:09.729696,15.296585,0.046720,30.0000,47.5426,123.5100,359.9800,0,U,58049,999,0,0.000000,1.209000e-05,-0.000004
1,FALCON HEAVY R/B,2023-157B,2023-10-13T14:28:09.729696,15.296585,0.046720,30.0000,47.5426,123.5100,359.9800,0,U,58050,999,0,0.000000,1.209000e-05,-0.000004
2,STARLINK-30568,2023-158A,2023-11-09T14:00:01.000224,15.544348,0.000181,42.9995,341.6491,284.4474,116.8989,0,U,58051,999,530,-0.026539,-1.610816e-02,0.000000
3,STARLINK-30575,2023-158B,2023-11-06T10:30:39.041568,15.682098,0.001143,42.9989,0.2935,303.7135,56.2642,0,U,58052,999,493,-0.003596,-3.968210e-03,0.000000
4,STARLINK-30577,2023-158C,2023-11-09T14:00:01.000224,15.544255,0.000167,42.9994,341.6431,283.7861,120.4831,0,U,58053,999,546,-0.026579,-1.612437e-02,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,CZ-6A DEB,2023-168D,2023-11-09T13:04:30.875520,14.868117,0.000305,97.8265,318.5640,152.5389,207.5988,0,U,58202,999,127,0.001303,1.157900e-04,0.000000
152,TJS-10,2023-169A,2023-11-09T16:41:19.370976,1.004371,0.004114,0.0978,75.4086,42.2493,353.8281,0,U,58204,999,14,0.000000,4.500000e-07,0.000000
153,CZ-7A R/B,2023-169B,2023-11-09T05:13:10.149312,2.434218,0.721882,16.9337,284.8153,182.6936,168.5799,0,U,58205,999,13,0.000308,3.047990e-03,-0.000011
154,2023-172A,2023-172A,2023-11-09T16:38:43.285920,2.282938,0.729371,28.3977,216.2785,179.4324,167.1655,0,U,58253,999,1,0.000000,-5.070000e-06,0.000000
155,2023-172B,2023-172B,2023-11-09T16:57:09.366624,2.382214,0.723112,28.3963,216.2181,178.7397,185.5310,0,U,58254,999,0,0.000000,-1.616000e-05,0.000002